.gr27e {
    -webkit-box-align: center;
    align-items: center;
    margin: 0 0 10px;
    padding: 10px 0;
}
.izU20 {
    color: rgba(var(--ild,38,38,38),1);
    margin: 15px;
    text-align: center;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
.p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
.b_nGN {
    color: rgba(var(--ild,38,38,38),1);
    font-size: 14px;
    line-height: 18px;
    margin: 10px 20px 10px 20px;
    text-align: center;
    padding: 0%;
    border: 0;
    vertical-align: baseline;
}
.z1VUo {
    margin-right: 8px;
}
